.DS_Store
.idea/
.settings/
.vscode/
venv/
__pycache__

# Ignore all files in the data/ directory
data/*

# Except for the data directories themselves
!data/raw/
!data/models/
!data/databases/

# Ignore files with specific extensions within the data directories
data/raw/*.story
data/models/*.pth
data/databases/*.db
